{% extends 'base.html' %}

{% block content %}
<div class="row mt-4">
  <div class="col-8">
    <h4>{{ todolist.name }}のTodo</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" style="width:30%">タスク名</th>
          <th scope="col" style="width:70%">Check</th>
        </tr>
      </thead>
      <tbody>
        <form action="{% url 'todo:checked' todolist.pk %}" method="post">
        {% csrf_token %}
        {% for task in todolist.tasks.all %}
          <tr>
            {% if task.done %}
              <td>{{ task.name }}</td>
              <td>完了しています, お疲れ様でした！</td>
            {% else %}
              <td>{{ task.name }}<br>
                  {{ task.note }}</td>
              <td><input type="submit" class="btn btn-primary", name="{{ task.pk }}" value="Check"></td>
            {% endif %}
          </tr>
        {% endfor %}
        </form>
      </tbody>
    </table>
    <a class="btn btn-warning" href="{% url 'todo:reset' todolist.pk %}" role="button">クリア</a>
  </div>
</div>
{% endblock %}
